@charset "UTF-8";

/*섹션 제목*/
section {
    position: absolute;
    top: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section > #title {
    text-align: center;
    margin-bottom: 30px;
    animation: up_title 1s ease-out;
}
section > #title > h1 {
    font-size: 70px;
    font-weight: bold;
}
section > #title > h3 {
    font-size: 30px;
    font-weight: normal;
}
section > #title > h3 > u {
    text-decoration: underline;
}

/*섹션 내용*/
section > #bottom {
    display: flex;
    justify-content: center;
    animation: up_bottom 1.5s ease-out;
}
section > #bottom > #text {
    font-size: 25px;
    font-weight: lighter;
    text-align: left;
    margin: 50px 30px 0 0;
}
section > #bottom > #text > p {
    margin-bottom: 7px;
}
section > #bottom > #first {
    display: none;
}
section > #bottom > #second {
    width: 400px;
    height: 320px;
}
section > #bottom > span {
    font-size: 80px;
    margin: 100px 0 0 30px;
}

/*푸터*/
#share {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 10px 0 10px 0;
    background-color: black;
}
#share > a {
    display: flex;
    justify-content: center;
}
#share > a > img {
    width: 50px;
    margin-right: 10px;
}
#share > a > span {
    font-size: 20px;
    margin-top: 15px;
}

@media screen and (max-width: 1200px) {
    section {
        top: 30%;
    }
    section > #title > h1 {
        font-size: 70px;
    }
    section > #title > h3 {
        font-size: 30px;
    }
    section > #bottom > #text {
        font-size: 20px;
    }
    section > #bottom > #second {
        width: 300px;
        height: 250px;
    }
    section > #bottom > span {
        font-size: 60px;
    }
}
@media screen and (max-width: 900px) {
    section {
        top: 30%;
    }
    section > #title > h1 {
        font-size: 60px;
    }
    section > #title > h3 {
        font-size: 20px;
    }
    section > #bottom > #text {
        font-size: 18px;
        margin: 30px 10px 0 0;
    }
    section > #bottom > #second {
        width: 200px;
        height: 180px;
        margin-top: 15px;
    }
    section > #bottom > span {
        font-size: 40px;
        margin: 70px 0 0 20px;
    }
    #share > a > img {
        width: 30px;
        margin-right: 10px;
    }
    #share > a > span {
        font-size: 18px;
        margin-top: 7px;
    }
}
@media screen and (max-width: 600px) {
    section {
        top: 20%;
        padding: 10px;
    }
    section > #title > h1 {
        font-size: 40px;
    }
    section > #title > h3 {
        font-size: 18px;
    }
    section > #bottom {
        display: block;
        text-align: center;
    }
    section > #bottom > #text {
        text-align: center;
    }
    section > #bottom > #first {
        display: inline-block;
        width: 250px;
    }
    section > #bottom > #second {
        display: none;
    }
    section > #bottom > span {
        display: none;
    }
}
@media screen and (max-width: 360px) {
    section {
        top: 20%;
    }
    section > #title > h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    section > #bottom > #first {
        display: none;
    }
}

/*애니메이션*/
@keyframes up_title {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    50% {
        opacity: 0.3;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes up_bottom {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    50% {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}